/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

 //Fonts icomoon
@font-face {
  font-family: 'icomoon';
  src:  url('../../dist/fonts/icomoon.eot');
  src:  url('../../dist/fonts/icomoon.eot') format('embedded-opentype'),
  url('../../dist/fonts/icomoon.ttf') format('truetype'),
  url('../../dist/fonts/icomoon.woff') format('woff'),
  url('../../dist/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-certification:before {
  content: "\e900";
}
.icon-check-lists:before {
  content: "\e901";
}
.icon-communication:before {
  content: "\e902";
}
.icon-criteria:before {
  content: "\e903";
}
.icon-duration:before {
  content: "\e904";
}
.icon-experience:before {
  content: "\e905";
}
.icon-expertise:before {
  content: "\e906";
}
.icon-experts:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-formations:before {
  content: "\e909";
}
.icon-free:before {
  content: "\e90a";
}
.icon-goal:before {
  content: "\e90b";
}
.icon-independent:before {
  content: "\e90c";
}
.icon-linkedin:before {
  content: "\e90d";
}
.icon-match:before {
  content: "\e90e";
}
.icon-partners:before {
  content: "\e90f";
}
.icon-place:before {
  content: "\e910";
}
.icon-price:before {
  content: "\e911";
}
.icon-professional:before {
  content: "\e912";
}
.icon-recognition:before {
  content: "\e913";
}
.icon-result:before {
  content: "\e914";
}
.icon-school:before {
  content: "\e915";
}
.icon-slack:before {
  content: "\e916";
}
.icon-target:before {
  content: "\e917";
}
.icon-trainers:before {
  content: "\e918";
}
.icon-trainings:before {
  content: "\e919";
}
.icon-twitter:before {
  content: "\e91a";
}



// General
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $texte;
  font-size: 1.6rem;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title;
  letter-spacing: .1rem;
}

h1 {
  font-size: 6rem;
  font-weight: $semi-bold;
  line-height: 8rem;
}

a {
  text-decoration: none;
  color: $black;

  &:hover,
  &:focus,
  &:active {
    font-weight: $bold;
  }
}

img {
  width: 100%;
}

.container {
  max-width: $container-with;
  margin: 0 auto;
  padding: 2rem;
}

@media (min-width: 640px) {
  .container {
    padding: 0 3rem;
  }
}
@media (min-width: 1000px) {
  .container {
    padding: 0 7rem;
  }
}

.btn {
  @include btn($grey-dark, $white);
}


.bg-orange {
  background-color: $orange;
}

.bg-blue {
  background-color: $blue;
}

.bg-green {
  background-color: $green;
}

.bg-greylight {
  background-color: $bg;
}

.color-orange {
  color: $orange;
}

.color-blue {
  color: $blue;
}

.color-green {
  color: $green;
}


.wrap-icon {
  margin-right: 4.5rem;
  border-radius: 50%;
  border: .4rem solid #fff;
  padding: 1.5rem;

  .icon-feature {
    font-size: 3.5rem;
  }
}

@mixin title() {
  font-size: 4rem;
  font-weight: $bold;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

@mixin subtitle() {
  font-family: $texte;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: .1rem;
  text-align: center;
  margin-bottom: 4rem;
}

.wrap-service {
  color: $white;

  &:nth-of-type(even) {
    > * {
      &:first-child {
        order: 2;
      }

      &:last-child {
        order: 1;

        > * {
          margin: 0 0 0 auto !important;
        }
      }
    }
  }

  .img-service {
    picture {
      img {
        object-fit: cover;
        height: 21rem;
      }
    }
  }

  .content-service {
    > * {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      .text-service {
        text-align: center;

        .title-service {
          @include title();
        }

        .subtitle-service {
          @include subtitle();
        }
      }
    }
  }
}

@media (min-width: 640px) {
  .wrap-service {
    display: flex;
    flex-flow: row nowrap;

    > * {
      width: 100%;

      .container {
        padding: 3rem;
      }

      picture {
        > img {
          height: 100% !important;
          object-fit: cover;
        }
      }

      &:first-child {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .container {
          padding: 0;
        }
      }

      &:last-child {
        > * {
          max-width: calc(180rem / 2);
        }
      }

      &:last-child {
        display: flex;
        padding: 4rem 0;

        .container {
          margin: 0 auto 0 0;
        }
      }
    }
  }
}

.title-carousel {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.title-carousel {
  @include title();
}


.owl-carousel {
  .owl-wrapper-outer {
    .owl-wrapper {
      .owl-item {
        .item {
          text-align: center;

          &:hover {
            .owl-carousel-item-imgoverlay {
              background: transparent;
            }
          }

          img {
            width: 15rem;
            margin: 0 auto;
          }

          .owl-carousel-item-imgoverlay {
            position: initial;
            opacity: 1;
            margin: 2rem 0;
            text-shadow: none;

            .owl-carousel-item-imgcontent {
              margin-top: .5rem;

              p {
                letter-spacing: .1rem;
                text-shadow: none;
                font-size: 1.4rem;
              }

            }
          }
        }
      }
    }
  }

  .owl-controls {
    .owl-pagination {
      .owl-page {
        > * {
          background: $grey;
        }
      }
    }
  }
}

.wrap-team {
  background-color: $grey;
  color: $white;
}

.wrap-team,
.wrap-customer,
.wrap-testimonial {
  padding: 5rem 0;
}

.wrap-testimonial {
  background-color: $white;

  > * {
    .owl-carousel-testimonials {
      .owl-wrapper-outer {
        .owl-wrapper {
          .owl-item {
            .item {
              > * {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;

                img {
                  margin: 0;
                  margin: 0 5rem;
                }

                .owl-carousel-item-imgoverlay {
                  max-width: 100rem;
                  display: flex;
                  flex-flow: column nowrap;


                  .owl-carousel-item-imgtitle {
                    order: 2;
                    color: $black;
                    text-align: left;
                    margin-top: 2rem;
                    font-size: 1.8rem;
                  }

                  .owl-carousel-item-imgcontent {
                    order: 1;
                    font-size: 1.8rem;
                    line-height: 2rem;
                    font-style: italic;

                    p {
                      color: $black;
                    }

                  }
                }
              }
            }
          }
        }
      }
    }
  }
}