@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700i');

$title: 'Raleway', Arial, Helvetica, sans-serif;
$texte: 'Open Sans', Arial, Helvetica, sans-serif;
$semi-bold: 600;
$bold: 700;
$italic: 700i;

$bg: #e8eff7;
$blue: #a0d8f1;
$orange: #ec6359;
$green: #38b188;
$grey: #4e5966;
$grey-light:  #f9f9f9;
$grey-dark: #323b44;
$black: #333331;
$white: #fff;

$container-with: 180rem;
