label {
  font-size: 1.3rem !important;
  font-weight: $bold !important;
  color: $grey !important;
  text-transform: uppercase;
}

input,
textarea {
  border-radius: 1rem;
  padding: 1rem;
  border: .2rem solid $grey-dark;
  background-color: $white;
  width: 100%;
}

input {
  height: 5rem
}
