header{
  color: $white;
}

#page-certification{
  section{
    background-color: $grey;
    color: $white;
    padding: 4.6em;
    padding-top:4%;
    min-height: 600px;

    .container{
      width: 70%;
      padding: 0;
      margin: 0;

      span.blue{ color: $blue; }

      p{
        margin: 2em 0;
        margin-bottom: 0.2em;
        line-height: 1.4em;
        font-size: 1.3em;
      }

      .container-button{
        display: flex;
        flex-direction: row;

        button{
          border: 0;
          font-size: 1.3rem;

          &:hover{
            background-color: $white;
          }
        }
      }
    }
    &:nth-child(2){
      background-color: $blue;

      h2{
        text-align: center;
        font-weight: bold;
        font-size: 4rem;

        span.grey-black{ color: $grey-dark; }
      }

      p{
        margin: 3em 6em;
        line-height: 1.4em;
        text-align: center;

        &:first-of-type{ margin-top: 5em; }
      }

      .container-card{
        max-width: 890px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        div{
          flex-grow: 1;
          width:50%;
          margin: 4% 0%;
          display: flex;
          flex-direction: row;

          div{
            width:76px;
            height: 76px;
            margin: 0;
          }

          article{
            padding-left: 6%;
            padding-right: 3%;
            width: 90%;

            h4{
              width: 100%;
              font-size: 1.5em;
              font-weight: 600;
            }
            p{
              font-size: 0.9em;
              text-align: left;
              width: 100%;
              margin: 0;
              padding-top: 4%;
            }
          }
        }

        button{
          margin: 0 auto;
          margin-top: 6%;
          border: 0;
          padding: 1.5rem 4.5rem 1.5rem 4.5rem;
          font-size: 1.3rem;

          &:hover{
            background-color: $white;
          }
        }
      }
    }
    &:nth-child(3){
      background-color: $white;

      span.grey-black{ color: $orange; }
    }
  }

  .wrap-icon{
    border: 0.2rem solid #fff;
    padding: 1.5rem;
    .icon-feature{
      font-size: 4rem;
    }
  }
}


// Page certification
.internal-page {
  height: auto !important;

  .head-overview {
    .text-overview {
      color: $white;

      .title-overview {
        text-transform: uppercase;
      }
    }
  }

  .wrap-anchors {
    .anchor {
      .img-anchor {
        color: $grey !important;
      }
    }
  }
}

.wrap-target {
  padding: 5rem 0;

  &:nth-of-type(odd) {
    background-color: $blue;
    color: $white;
  }

  > * {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    > * {
      margin: 2rem 0;
    }

    .title-target {
      @include title();
    }

    .icon-target {
      font-size: 15rem;
    }

    .text-target {
      max-width: 100rem;
      font-size: 1.8rem;
      line-height: 2.5rem;
    }
  }
}