// mobile first
.wrap-overview {
  background-color: $white;
  border-top-left-radius: 80% 40%;
  border-top-right-radius: 80% 40%;

  .container {
    display: flex;
    flex-flow: column wrap;

    .head-overview {
      .text-overview {
        display: none;
      }

      @media (min-width: 640px) {
        .text-overview {
          display: block;
          max-width: 125rem;

          .title-overview {
            margin-bottom: 2rem;
            font-size: 5.8rem;
            line-height: 7rem;
          }

          .baseline-overview {
            font-size: 2rem;
            line-height: 2.5rem;
          }
        }
      }

      .button-overview {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        .btn {
          @include btn($orange, $white);
          font-size: 1.3rem;
          margin: .5rem;
        }
      }

      @media (min-width: 640px) {
        .button-overview {
          justify-content: start;

          .btn {
            font-size: 1.8rem;
            margin: 1rem;
          }
        }
      }
    }

    .wrap-anchors {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      width: 100%;
      padding: 3rem 0;

      .anchor {
        margin: 1rem 0;
        background-color: $white;
        -moz-box-shadow: 0 0 1rem 0 #dedede;
        -webkit-box-shadow: 0 0 1rem 0 #dedede;
        -o-box-shadow: 0 0 1rem 0 #dedede;
        box-shadow: 0 0 1rem 0 #dedede;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#dedede, Direction=NaN, Strength=10);
        border-radius: 1rem;
        border-left: 2rem solid $grey;
        width: 100%;
        padding: 2rem;
        flex-grow: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        &:nth-of-type(1) {
          border-color: $blue;
          color: $blue;
        }

        &:nth-of-type(2) {
          border-color: $orange;
          color: $orange;
        }

        &:nth-of-type(3) {
          border-color: $green;
          color: $green;
        }

        .img-anchor {
          font-size: 6rem;
        }

        .text-anchors {
          text-align: center;

          .title-anchor {
            font-size: 1.8rem;
            font-weight: $bold;
            text-transform: uppercase;
          }
        }
      }
    }

    @media (min-width: 640px) {
      .wrap-anchors {
        max-width: 81rem;
        margin: 5rem auto 5rem auto;
        flex-flow: row nowrap;
        background-color: $white;
        -moz-box-shadow: 0 0 1rem 0 #dedede;
        -webkit-box-shadow: 0 0 1rem 0 #dedede;
        -o-box-shadow: 0 0 1rem 0 #dedede;
        box-shadow: 0 0 1rem 0 #dedede;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#dedede, Direction=NaN, Strength=10);
        border-radius: 1rem;
        height: 25rem;

        .anchor {
          border: none;
          margin: 0;
          padding: 0 2rem;
          background-color: transparent;
          box-shadow: none;
          flex-flow: column nowrap;
          align-items: center;
          text-align: center;
          border-radius: 0;

          &:not(:last-child) {
            border-right: .1rem solid $grey;
          }

          .img-anchor {
            font-size: 10rem;
            width: 10rem;
            margin-bottom: 1.5rem;
          }

          .text-anchors {
            .title-anchor {
              font-size: 1.8rem;
              color: $black;
            }

            .btn {
              opacity: 0;
              @include btn($grey, $white);
              transition: all .1s ease-in;
            }
          }

          &:hover {
            .img-anchor {
              font-size: 7rem;
            }

            .btn {
              margin-top: 2rem;
              opacity: 1;
            }
          }
        }
      }

      .mouse_scroll {
        display: block;
        cursor: pointer;
        margin: 0 auto;
        width: 2.5rem;
        height: 10rem;
      }


      .m_scroll_arrows {
        display: block;
        width: 5px;
        height: 5px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);

        border-right: 2px solid white;
        border-bottom: 2px solid white;
        margin: 0 0 3px 4px;

        width: 16px;
        height: 16px;
      }


      .unu {
        margin-top: 1px;
      }

      .unu, .doi, .trei {
        -webkit-animation: mouse-scroll 1s infinite;
        -moz-animation: mouse-scroll 1s infinite;
      }

      .unu {
        -webkit-animation-delay: .1s;
        -moz-animation-delay: .1s;
        -webkit-animation-direction: alternate;
      }

      .doi {
        -webkit-animation-delay: .2s;
        -moz-animation-delay: .2s;
        -webkit-animation-direction: alternate;
        margin-top: -6px;
      }

      .trei {
        -webkit-animation-delay: .3s;
        -moz-animation-delay: .3s;
        -webkit-animation-direction: alternate;
        margin-top: -6px;
      }




      .mouse {
        height: 42px;
        width: 24px;
        border-radius: 14px;
        transform: none;
        border: 2px solid white;
        top: 170px;
      }

      .wheel {
        height: 5px;
        width: 2px;
        display: block;
        margin: 5px auto;
        background: white;
        position: relative;

        height: 4px;
        width: 4px;
        border: 2px solid #fff;
        -webkit-border-radius: 8px;
        border-radius: 8px;


      }

      .wheel {
        -webkit-animation: mouse-wheel 0.6s linear infinite;
        -moz-animation: mouse-wheel 0.6s linear infinite;
      }



      @-webkit-keyframes mouse-wheel {
        0% {
          opacity: 1;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
        }

        100% {
          opacity: 0;
          -webkit-transform: translateY(6px);
          -ms-transform: translateY(6px);
          transform: translateY(6px);
        }
      }

      @-moz-keyframes mouse-wheel {
        0% { top: 1px; }
        25% { top: 2px; }
        50% { top: 3px;}
        75% { top: 2px;}
        100% { top: 1px;}
      }

      @-webkit-keyframes mouse-scroll {
        0%   { opacity: 0;}
        50%  { opacity: .5;}
        100% { opacity: 1;}
      }

      @-moz-keyframes mouse-scroll {
        0%   { opacity: 0; }
        50%  { opacity: .5; }
        100% { opacity: 1; }
      }

      @-o-keyframes mouse-scroll {
        0%   { opacity: 0; }
        50%  { opacity: .5; }
        100% { opacity: 1; }
      }

      @keyframes mouse-scroll {
        0%   { opacity: 0; }
        50%  { opacity: .5; }
        100% { opacity: 1; }
      }
    }

    @media (min-width: 1000px) {
      .wrap-anchors {
        margin: 8rem auto 8rem auto;
      }
    }
  }

  @media (min-width: 640px) {
    .container {
      flex-direction: column;
    }
  }
}

@media (min-width: 640px) {
  .wrap-overview {
    height: calc(100vh - 12.5rem);
    padding-top: 4rem;
    background-color: transparent;
    border: none;
  }
}

.wrap-features {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 3rem;

  .feature {
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    margin: 2rem 0;

    .text-feature {
      line-height: 2rem;

      .title-feature {
        font-family: $title;
        font-weight: $bold;
        font-size: 2.2rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
      }

      .legend-feature {
        line-height: 2.4rem;
      }
    }
  }
}

@media (min-width: 1000px) {
  .wrap-features {
    padding: 0 5rem;
  }
}

.wrap-presentation {
  background-color: $grey-dark;
  color: $white;

  .head-presentation {
    display: none;
  }

  @media (min-width: 640px) {
    .head-presentation {
      display: block;

      .title-presentation {
        font-size: 4.5rem;
        font-weight: $bold;
        line-height: 5rem;
        margin-bottom: 5rem;
      }

      .text-presentation {
        font-size: 1.8rem;
        line-height: 2.8rem;

        a {
          color: $orange;

        }
      }
    }
  }

  .content-presentation {
    background-color: $grey;

    > * {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      .title-presentation {
        @include title();
      }

      .subtitle-presentation {
        @include subtitle();
      }
    }
  }
}

@media (min-width: 640px) {
  .wrap-presentation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0;

    > * {
      flex-grow: 1;
      width: 100%;
      padding: 4rem 0;

      > * {
        max-width: calc(180rem / 2);

        &:first-child {
          margin: 0 0 0 auto;
        }

        &:last-child {
          margin: 0 auto 0 0;
        }
      }
    }

    .head-presentation {
      background-color: $grey-dark;
    }
  }
}

.wrap-social {
  padding: 4rem 0;

  > * {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .title-social {
      @include title();
    }

    .wrap-advantages {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;
      margin: 2rem 0;

      > * {
        margin: 0 2rem;
      }

      .advantage {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .wrap-number {
          border-radius: 50%;
          padding: 2.5rem;
          border: .5rem solid $grey;
          text-align: center;
          width: 7.5rem;
          height: 7.5rem;
          margin-bottom: 2rem;
          margin-right: 4.5rem;

          .number-checklist {
            font-size: 3rem;
            font-weight: $bold;
            line-height: 1.5rem;
            color: $grey;
          }
        }

        .title-advantage {
          font-family: $title;
          font-weight: $bold;
          font-size: 2.2rem;
          line-height: 3rem;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

.wrap-customer {
  background-color: $white;

  > * {
    .owl-carousel-customers {
      .owl-wrapper-outer {
        .owl-wrapper {
          .owl-item {
            .item {
              .owl-carousel-item-imgoverlay {
                max-width: 100rem;
                margin: 2rem auto 2rem auto;

                .owl-carousel-item-imgtitle {
                  display: none;
                }

                .owl-carousel-item-imgcontent {
                  font-size: 1.8rem;
                  line-height: 2rem;
                  font-style: italic;

                  p {
                    color: $black;
                  }

                }
              }
            }
          }
        }
      }
    }
  }
}
