/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Fonts icomoon
//@font-face {
//  font-family: 'icomoon';
//  src:  url('../fonts/icomoon.eot?s5aglo');
//  src:  url('../fonts/icomoon.eot?s5aglo#iefix') format('embedded-opentype'),
//  url('../fonts/icomoon.ttf?s5aglo') format('truetype'),
//  url('../fonts/icomoon.woff?s5aglo') format('woff'),
//  url('../fonts/icomoon.svg?s5aglo#icomoon') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-certification:before {
  content: "\e900";
}
.icon-check-list:before {
  content: "\e901";
}
.icon-formation:before {
  content: "\e902";
}


// General
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}
//
//html {
//  font-size: 62.5%;
//}

body {
<<<<<<< HEAD
  font-family: $texte;
  font-size: $size16;
  color: $blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title;
  letter-spacing: .1rem;
}
=======
  font-family: $font-family;
  font-size: $size16;
  line-height: $size26;
  color: $blue;
}

//h1 {
//  font-size: 13rem;
//  line-height: 18rem;
//  font-weight: 700;
//}
>>>>>>> 33d59dcafdb7cbf5458060a85e16eb5ab073bc0e

h1 {
  font-size: $size20;
  line-height: 3rem;
}

a {
  text-decoration: none;
  color: $blue;
}

img {
  width: 100%;
}

.container {
  max-width: 200rem;
  padding: 1.5rem;
}

.btn {
  @include btn-primary();
}

.btn {
  @include btn();
}

// mobile
//html {
//  font-size: 100%;
//}
.container {
  padding: 5rem;
}

.wrap-header {
  background-color: $grey;

  .container {
<<<<<<< HEAD
    padding: 1rem 2rem;
=======
>>>>>>> 33d59dcafdb7cbf5458060a85e16eb5ab073bc0e
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;


    $anim_time: 1s;

    //OPEN
    @keyframes topBar_open {
      0% { transform: translateY(0px) rotate(0deg) ; width: 60px; }
      10% {transform: translateY(-8px) rotate(0deg); width: 60px; }
      50% {transform: translateY(25px) rotate(45deg); width: 84px; }
      75% {transform: translateY(12px) rotate(45deg); width: 84px; }
      100% {transform: translateY(17px) rotate(45deg); width: 84px; }
    }

    @keyframes bottomBar_open {
      0% { transform: translateY(0px) rotate(0deg) ; width: 60px; }
      10% { transform: translateY(-8px) rotate(0deg) ; width: 60px; }
      60% {transform: translateY(0px) rotate(-45deg); width: 84px; }
      75% {transform: translateY(-10px) rotate(-45deg); width: 84px; }
      100% {transform: translateY(-8px) rotate(-45deg); width: 84px; }
    }

    @keyframes menuLabel_open {
      0% { transform: translateY(0px); opacity: 1; }
      25% {transform: translateY(-18px); }
      45% {transform: translateY(44px); opacity: 1; }
      48% {transform: translateY(50px); opacity: 0; }
      100% {transform: translateY(30px); opacity: 0; }
    }

    // CLOSE
    @keyframes topBar_close {
      0% {transform: translateY(17px) rotate(45deg); width: 84px; }
      35% {transform: translateY(-8px) rotate(-4deg); width: 60px; }
      53% {transform: translateY(10px) rotate(3deg); width: 60px; }
      70% {transform: translateY(-6px) rotate(0deg); width: 60px; }
      100% { transform: translateY(-2px) rotate(0deg) ; width: 60px; }
    }

    @keyframes bottomBar_close {
      0% {transform: translateY(-8px) rotate(-45deg); width: 84px; }
      35% {transform: translateY(-18px) rotate(6deg); width: 60px; }
      53% {transform: translateY(0px) rotate(-3deg); width: 60px; }
      68% { transform: translateY(-7px) rotate(0deg) ; width: 60px; }
      100% { transform: translateY(0px) rotate(0deg) ; width: 60px; }
    }

    @keyframes menuLabel_close {
      0% {transform: translateY(30px); opacity: 0; }
      5% {transform: translateY(25px); opacity: 1; }
      25% {transform: translateY(-30px); opacity: 1; }
      37% {transform: translateY(-22px); opacity: 1; }
      45% {transform: translateY(-22px); opacity: 1; }
      58% {transform: translateY(8px) rotate(-10deg); opacity: 1; }
      83% {transform: translateY(-6px) rotate(0deg); opacity: 1; }
      100% { transform: translateY(0px); opacity: 1; }
    }

    #menu-btn {
      display: block;
      position: relative;
      text-align: center;
      width: 60px;
      height: 65px;

      &:before,
      &:after {
        content: '';
        width: 100%;
        height: 8px;
        background-color: $blue;
        display: block;
        position: absolute;
        border-radius: 20px;
      }

      &:before {
        transform-origin: left center;

      }

      &:after {
        right: 0;
        top: 25px;
        transform-origin: right center;
      }

      .text {
        color: $blue;
        display: block;
        position: absolute;
        bottom: 0;
        font-size: 17px;
        letter-spacing: 2.5px;
      }

      &:hover {
        cursor: pointer;
      }

      &.open {
        &:before {
          animation: topBar_open $anim_time ease-in-out;
          animation-fill-mode: forwards;
        }

        &:after {
          animation: bottomBar_open $anim_time ease-in-out;
          animation-fill-mode: forwards;
        }

        .text {
          animation: menuLabel_open $anim_time ease-in;
          animation-fill-mode: forwards;
        }

      }

      &.close {
        &:before {
          animation: topBar_close $anim_time ease-in-out;
          animation-fill-mode: forwards;
        }

        &:after {
          animation: bottomBar_close $anim_time ease-in-out;
          animation-fill-mode: forwards;
        }

        .text {
          animation: menuLabel_close $anim_time ease-in;
          animation-fill-mode: forwards;
        }

      }
    }

    .link-home {
      .img-logo {
<<<<<<< HEAD
        width: 10rem;
=======
        height: 12.5rem;
>>>>>>> 33d59dcafdb7cbf5458060a85e16eb5ab073bc0e
      }
    }

    .wrap-navigation {
      display: none;
    }
  }
}


//.wrap-header {
//  background-color: $grey;
//
//  .container {
//    padding: 1rem 5rem;
//    display: flex;
//    flex-flow: row wrap;
//    justify-content: space-between;
//    align-items: center;
//
//    .link-home {
//      .img-logo {
//        max-width: 20rem;
//      }
//    }
//
//    .wrap-navigation {
//      > ul {
//        display: flex;
//        flex-flow: row wrap;
//
//        > li {
//          flex-grow: 1;
//          margin: 0 2rem;
//        }
//      }
//    }
//  }
//}
