.wrap-overview {
  .baseline-overview {
    font-size: $size16;
  }

  .wrap-button {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;

    > * {
      @include btn-primary();

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}