#page-login{
  display: flex;
  flex-direction: row;
  color: #fff;
  height: 90vh;

  section{
    flex: auto;
    width: 64%;
    background-color: $orange;
    padding: 5em;

    h1{
      line-height: 1em;
      margin-bottom: 1em;
    }

    p{
      line-height: 1.2em;
    }

    &:last-child {
      width: 36%;
      background-color: $grey-light;
      color:$grey-dark;
      padding: 4em;

      input{
        margin: 3% 0%;

        &:first-child{
          margin-top: 14%;
        }
      }

      input.grey{
        background-color: $grey-dark;
        color:#fff;
      }

      input#rememberme{
        width: 6%;
        float: left;
        margin: 0;
        height: 15px;
      }
      p{
        float: left;
        font-size: 0.8em;
      }
      
      .forgotmdp{
        clear:both;
        margin: 3% 0%;
      }

      input.uppercase{ text-transform: uppercase; }

      h3{ font-size:2em; }
    }
  }
}