@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

$title: 'Raleway', Arial, Helvetica, sans-serif;
$texte: 'Open Sans', Arial, Helvetica, sans-serif;

$size14: 1.4rem;
$size16: 1.6rem;
$size20: 2rem;
$size60: 6rem;

$grey: #e8eff7;
$blue: #3c88b5;

@mixin btn-primary() {
  border: .2rem solid $blue;
  border-radius: .5rem;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  font-size: $size20;
}
